.container {
  width: 40%;
  border: 1px solid gray;
}

.box {
  height: 100px;
  width: 25%;  
}

.yellow {
  background-color: #FFFF00;
}

.blue {
  background-color: #0000BA;
}

.red {
  background-color: #DC0000;
}